<div class="container px-5 w-50">
  <h2 class="ml-5 my-5">Create a new list</h2>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: 'btn btn-flat' %>
  <% end %>
</div>
