.btn-flat {
  color: white;
  padding: 8px 20px;
  background: #954d4a;
  font-weight: bold;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #B20600;
  color: white;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.alert-link {
  color: #dc3444 !important;
  text-decoration: none;
}

.container {
  position: relative;

  .btn-warning {
    position: absolute;
    top: -130px;
    right: 40px;
    color: white;
    font-weight: bold;
    background-color: #954d4a;
    border-color: #954d4a;
    &:hover {
      cursor: default;
    }
  }
}
